@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Urbanist', sans-serif;
}

.red {
  border: 1px solid red;
}

html {
  --line-color: #e5e7eb;
}

.fl-c {
  display: flex;
  justify-items: center;
  align-items: center;
}

/*  404 page */

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}
